@page
@model P_MOOU_.Pages.ActualizarInfoModel
@using P_MOOU_.Controlador;
@using P_MOOU_.Modelo;
@{
}

@{
    Servicios servicio = new Servicios();

    List<DatosMoodle> lista;
    lista = servicio.ListarMySql(-1);
}

<div class="row">
    <div class="col-12 mx-auto p-3">
        <h1>Actualizar información en Bases de datos</h1>
        <div class="alert-danger mx-auto p-3"><p>Este proceso puede tardar hasta 5 minutos por botón</p></div>
    </div>

    <div class="col-12 mx-auto p-3">
        <form method="post" asp-page-handler="FuncionAlumnos">
            <button class="col-12 btn btn-primary btn-lg">Alumnos</button>
        </form>
    </div>
    <div class="col-12 mx-auto p-3">
        <form method="post" asp-page-handler="FuncionCarrera">
            <button class="col-12 btn btn-primary btn-lg">Carreras</button>
        </form>
    </div>
    <div class="col-12 mx-auto p-3">
        <form method="post" asp-page-handler="FuncionCampus">
            <button class="col-12 btn btn-primary btn-lg">Campus</button>
        </form>
    </div>
    <div class="col-12 mx-auto p-3">
        <form method="post" asp-page-handler="FuncionProfesores">
            <button class="col-12 btn btn-primary btn-lg">Profesores</button>
        </form>
    </div>
    <div class="col-12 mx-auto p-3">
        <form method="post" asp-page-handler="FuncionCursos">
            <button class="col-12 btn btn-primary btn-lg">Cursos</button>
        </form>
    </div>


    @if (ViewData["Message"] != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            alert("@ViewData["Message"]");
        };
        </script>
    }
</div>
