
@page
@model P_MOOU_.Pages.Codigos_EquivalenteModel
@using P_MOOU_.Controlador
@using P_MOOU_.Modelo
@{
}
<h2>Generar Códigos Equivalente</h2>
@{int ij = 1;}
@{
    Servicios servicio = new Servicios();

    List<DatosMoodle> lista;
    lista = servicio.ListarMySql(-1);

    List<CarrerasUmas> listacarreras = new List<CarrerasUmas>();
    listacarreras = servicio.GetCarreras(-1);

    List<EquivMoodleUmas> listaequiv = new List<EquivMoodleUmas>();
    listaequiv = servicio.GetEquivMoodleUmas("");

    List<CarrerasUmas> listanombres = new List<CarrerasUmas>();
    listanombres = servicio.GetNombreCarreras(-1);

}

<div class="accordion" id="accordionExample">
    @foreach (var c in listanombres)
    {
        <div class="accordion-item">

            <h2 class="accordion-header" id="heading_@ij">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@ij" aria-expanded="true" aria-controls="collapse_@ij">
                    @c.Nombrecarr
                </button>
            </h2>
            <div id="collapse_@ij" class="accordion-collapse collapse" aria-labelledby="heading_@ij" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">U+</th>
                                <th scope="col">Moodle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var e in listaequiv)
                            {
                                if (e.Nombrecarr == c.Nombrecarr)
                                {
                                <tr>
                                    <td>@e.Codcarr</td>
                                    <td>@e.Idrol</td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        ij++;
    }
</div>