@page
@model P_MOOU_.Pages.UsuariosMySqlModel
@using P_MOOU_.Modelo;
@using P_MOOU_.Controlador;
@{
}
@{ int contadoralumno = 1; }
@{

    List<DatosMoodle> lista;
    Servicios servicios = new Servicios();
    lista = servicios.ListarMySql(-1);

}

<div class="row">
    <div class="col-sm-12">
        <div class="form-inline pull-right">
            <label>Buscar</label>
            <input type="text" id="txtSearch" class="form-control" value="" />
        </div>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>RUT</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in lista)
                {

                    <tr>

                        <td>@contadoralumno</td>
                        <td>@c.Id_student</td>
                        <td>@c.Firstname</td>
                        <td>@c.Lastname1</td>

                    </tr>
                    contadoralumno++;
                }
            </tbody>
        </table>
    </div>
</div>
